{% extends 'base.html' %}


{% block title %}
&#123; AMA &#125; - [500] Internal Server Error
{% endblock %}


{% block page_content %}
    <div class="container text-center">
        <div style="margin-top:250px;">
            <h1 class="col-md-4 offset-md-4">500</h1>
            <h1 class="col-md-8 offset-md-2">Internal Server Error</h1>
        </div>  
    </div>
{% endblock %}


{% block unit_test %}
{% if config['TESTING'] %}
<input type="hidden" value="testing-500-error-AMA">
{% endif %}
{% endblock %}