{% extends 'base.html' %}

{% block title %}
&#123; AMA &#125; - Password Reset
{% endblock %}

{% block page_content %}
<div class="container text-center">
    <form style="padding-top: 160px" method="POST" action="">
        <h1>&#123; AMA &#125;</h1>
        <h5 style="margin-bottom: 20px;">Password Reset</h5>
        {{ form.csrf_token }}
        <div class="row">
            {{ form.submit(class='btn btn-lg btn-primary offset-md-4 col-md-4', type='submit', style='margin-top: 15px') }}
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-4 offset-md-4">
            {{ form.recaptcha }}
            </div>
            <div class="col-md-4 text-left" style="padding-top:18px;">
                <span style="color: #ff0000; font-size: 18px;">
                {% for error in form.recaptcha.errors %}
                    {{ error }}
                {% endfor %}
                </span>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block unit_test %}
<input type="hidden" value="testing-password-reset-init-AMA">
{% endblock %}