{% extends 'base.html' %}


{% block title %}
&#123; AMA &#125; - {{ user.username }} Profile
{% endblock %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="/static/home_profiles.css">
{% endblock %}


{% block page_content %}    
    {{ super() }}

    <div class="container page-content">
        <div class="text-center" style="width:100%; padding-top:15px;">
            <img src="{{ user.generate_gravatar_uri(200) }}" class="rounded-circle mx-auto d-block img-thumbnail">
            <h3 style="margin-top:5px;">{{ user.username }}</h3>
        </div>
        <hr style="margin-top:15px; width:90%;">
        <div class="text-center" style="padding: 5px 60px;">
        {{ user.about_me }}
        </div>
        {% if current_user.username != user.username %}
        <hr style="width:20%">
        <div class="text-center">
            <a class="btn btn-primary" href="{{ url_for('main.user_ask_question', username=user.username) }}">
                Ask
            </a>
            {% if current_user.is_following(user) %}
                <a class="btn btn-primary" href="{{ url_for('main.unfollow_user', username=user.username) }}">
                    Unfollow
                </a>
            {% else %}
                <a class="btn btn-primary" href="{{ url_for('main.follow_user', username=user.username) }}">
                    Follow
                </a>
            {% endif %}
            </a>
        </div>
        {% endif %}
        {% if current_user.is_followed_by(user) %}
        <hr style="width: 10%">
        <div class="text-center">
            <span class="badge badge-primary badge-pill">
                Follows You
            </span>
        </div>
        {% endif %}
        <div>
            <ul class="nav nav-tabs" id="questions-tabs" style="margin-bottom:20px;">
                <li class="nav-item">
                    <a class="nav-link active" id="answered-questions-tab" data-toggle="tab" href="#answered-questions">
                      Answered Questions
                    </a>
                </li>
                {% if current_user.username == user.username %}
                {% if unanswered_questions %}
                <li class="nav-item">
                    <a class="nav-link" id="unanswered-questions-tab" data-toggle="tab" href="#unanswered-questions">
                        <span class="badge badge-primary badge-pill">{{ unanswered_questions|length }}</span>
                        Unanswered Questions
                    </a>
                </li>
                {% endif %}
                {% endif %}
                {% if user.get_followed_users_list() %}
                <li class="nav-item">
                    <a class="nav-link" id="following-tab" data-toggle="tab" href="#following">
                        <span class="badge badge-primary badge-pill">
                            {{ user.get_followed_users_list()|length }}
                        </span>
                        Following
                    </a>
                </li>
                {% endif %}
                {% if user.get_followers_list() %}
                <li class="nav-item">
                    <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers">
                        <span class="badge badge-primary badge-pill">
                            {{ user.get_followers_list()|length }}
                        </span>
                        Followers
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="questions-tabs-content">
                <div class="tab-pane fade show active" id="answered-questions">
                    {% for question in answered_questions %}
                    <div>
                        <a href="{{ url_for('main.user_profile', username=question.asker.username)}}">
                            <img class="img-thumbnail" src="{{ question.asker.generate_gravatar_uri(18) }}">
                            {{ question.asker.username }}
                        </a>
                    </div>
                    <div>
                        <p style="font-weight:bold;margin-bottom:8px;">Q: {{ question.question_content }}</p>
                        <p>{{ question.answer.answer_content }}</p>
                    </div>
                    <hr style="width: 50%;">
                    {% endfor %}
                </div>
                {% if current_user.username == user.username %}
                {% if unanswered_questions %}                
                <div class="tab-pane fade" id="unanswered-questions">
                    {% for question in unanswered_questions %}
                    <div>
                        <a href="{{ url_for('main.user_profile', username=question.asker.username)}}">
                            <img class="img-thumbnail" src="{{ question.asker.generate_gravatar_uri(18) }}">
                            {{ question.asker.username }}
                        </a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p style="font-weight:bold;" class="">Q: {{ question.question_content }}</p>
                        <a href="{{ url_for('main.user_answer_question', username=current_user.username, question_id=question.id) }}">
                            Answer
                        </a>
                    </div>
                    <hr style="width: 50%;">
                    {% endfor %}
                </div>
                {% endif %}
                {% endif %}
                {% if user.get_followed_users_list() %}
                <div class="tab-pane fade" id="following">
                    {% for followed_user in user.get_followed_users_list() %}
                    <div>
                        <a href="{{ url_for('main.user_profile', username=followed_user.username) }}">
                            <img class="img-thumbnail" src="{{ followed_user.generate_gravatar_uri(30) }}">
                            <span style="font-weight:bold;">
                                {{ followed_user.username }}
                            </span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if user.get_followers_list() %}
                <div class="tab-pane fade" id="followers">
                    {% for follower in user.get_followers_list() %}
                    <div>
                        <a href="{{ url_for('main.user_profile', username=follower.username) }}">
                            <img class="img-thumbnail" src="{{ follower.generate_gravatar_uri(30) }}">
                            <span style="font-weight:bold;">
                                {{ follower.username }}
                            </span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}


{% block unit_test %}
{% if config['TESTING'] %}
<input type="hidden" value="testing-user-profile-AMA">
{% endif %}
{% endblock %}
