{% extends 'base.html' %}
{% import 'macros/get_flashed_messages.html' as flashed_messages %}

{% block title %} &#123; AMA &#125; - Home {% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" href="/static/home_profiles.css">
{% endblock %}

{% block page_content %}
    {{ super() }}

    <div class="container text-center">
        {{ flashed_messages.get_flashed_info_messages(class='alert alert-info alert-dismissible fade show alert-msg-box-fixed') }}
        {{ flashed_messages.get_flashed_error_messages(class='alert alert-danger alert-dismissible fade show alert-msg-box-fixed') }}
    </div>
            
    <div class="container page-content">
        {% for question in questions_list %}
        <div>
            <a href="{{ url_for('main.user_profile', username=question.asker.username) }}">
                <img class="img-thumbnail" src="{{ question.asker.generate_gravatar_uri(18) }}">
                {{ question.asker.username }}
            </a>
            To
            <a href="{{ url_for('main.user_profile', username=question.replier.username) }}">
                <img class="img-thumbnail" src="{{ question.replier.generate_gravatar_uri(18) }}">
                {{ question.replier.username }}
            </a>
        </div>
        <div>
            <p style="font-weight:bold;margin-bottom:8px;">Q: {{ question.question_content }}</p>
            <p>{{ question.answer.answer_content }}</p>
        </div>
        <hr style="width: 50%;">      
        {% endfor %}
    </div>
{% endblock %}


{% block unit_test %}
{% if config['TESTING'] %}
<input type="hidden" value="testing-home-AMA">
{% endif %}
{% endblock %}
